#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
deploy.config
Examples*/
*.vsmdi
*.pidb
*.userprefs
*.testrunconfig
publish.xml
TestResults
src/net40/TweetSharp.Next/obj/
src/_ReSharper.TweetSharp.WindowsPhone/
src/_ReSharper.TweetSharp.WindowsPhone/
src/_ReSharper.TweetSharp/
src/net20/TweetSharp.Next.Net20/obj
src/net40/TweetSharp.Next/obj/
*.user
*.suo
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/AppManifest.xaml
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/ApplicationIcon.png
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/Background.png
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/Configuration.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/Hammock.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/Hammock.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/ICSharpCode.SharpZipLib.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/ICSharpCode.SharpZipLib.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/Newtonsoft.Json.Silverlight.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/Newtonsoft.Json.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.Demo.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.Demo.WindowsPhone.dll.config
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.Demo.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.Demo.WindowsPhone.xap
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.WindowsPhone.Fluent.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.WindowsPhone.Fluent.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/TweetSharp.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Debug/app.config.example
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/AppManifest.xaml
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/ApplicationIcon.png
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/Background.png
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/Configuration.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/Hammock.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/Hammock.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/ICSharpCode.SharpZipLib.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/ICSharpCode.SharpZipLib.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/Newtonsoft.Json.Silverlight.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/Newtonsoft.Json.Silverlight.xml
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Demo.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Demo.WindowsPhone.dll.config
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Demo.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Demo.WindowsPhone.xap
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Next.WindowsPhone.Fluent.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Next.WindowsPhone.Fluent.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Next.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/TweetSharp.Next.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/Bin/Release/app.config.example
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/App.g.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/App.g.i.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/MainPage.g.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/MainPage.g.i.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/ResolveAssemblyReference.cache
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/TweetSharp.Demo.WindowsPhone.csproj.FileListAbsolute.txt
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/TweetSharp.Demo.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/TweetSharp.Demo.WindowsPhone.g.resources
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/TweetSharp.Demo.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Debug/XapCacheFile.xml
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/App.g.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/App.g.i.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/MainPage.g.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/MainPage.g.i.cs
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/ResolveAssemblyReference.cache
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/TweetSharp.Demo.WindowsPhone.csproj.FileListAbsolute.txt
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/TweetSharp.Demo.WindowsPhone.dll
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/TweetSharp.Demo.WindowsPhone.g.resources
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/TweetSharp.Demo.WindowsPhone.pdb
/src/net40/TweetSharp.Demo.WindowsPhone/obj/Release/XapCacheFile.xml
/src/net40/TweetSharp.Silverlight/Bin/Release/Hammock.Silverlight.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/Hammock.Silverlight.pdb
/src/net40/TweetSharp.Silverlight/Bin/Release/ICSharpCode.SharpZipLib.Silverlight.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/ICSharpCode.SharpZipLib.Silverlight.pdb
/src/net40/TweetSharp.Silverlight/Bin/Release/Newtonsoft.Json.Silverlight.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/System.Xml.Linq.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/System.Xml.Linq.xml
/src/net40/TweetSharp.Silverlight/Bin/Release/TweetSharp.Silverlight.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/TweetSharp.Silverlight.pdb
/src/net40/TweetSharp.Silverlight/Bin/Release/de/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/es/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/fr/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/it/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/ja/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/ko/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/ru/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/zh-Hans/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Silverlight/Bin/Release/zh-Hant/System.Xml.Linq.resources.dll
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/Hammock.WindowsPhone.dll
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/Hammock.WindowsPhone.pdb
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/ICSharpCode.SharpZipLib.WindowsPhone.dll
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/ICSharpCode.SharpZipLib.WindowsPhone.pdb
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/Newtonsoft.Json.Silverlight.dll
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/Newtonsoft.Json.Silverlight.xml
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/TweetSharp.Next.WindowsPhone.dll
/src/net40/TweetSharp.Next.WindowsPhone/Bin/Debug/TweetSharp.Next.WindowsPhone.pdb